mixin footer()
	+b.FOOTER.footer#footer.section
		.container
			+e.row.row
				.col-sm-6.col-lg-auto
					+logo
				.col-sm-6.col-lg.col-xxl-auto
					+e.text(href="#")
						+e.address Москва, ул. Арбат, д. 6/2, 119019
						p посмотреть на карте
				.col-sm-6.col-lg.col-xxl-auto
					+e.link
						a(href="mailto:info@bsfcapital.ru") info@bsfcapital.ru
						p по любым вопросам
				.col-sm-6.col-lg
					+e.link
						a(href="tel:+74959607770") +7 (495) 960-77-70
						p пн-пт с 9.00 до 19.00
				.col-sm-6.col-lg-auto
					+soc
		+e.down
			.container
				+e.down-row.row
					.col-lg-auto.order-2.order-1
						+e.info(href="#") Политика конфиденциальности
					.col-lg.order-1.order-lg-2
						+e.rights &copy;&nbsp; #[span]&nbsp;ООО &laquo;БСФ Капитал&raquo;. Все права защищены.
					.col-lg-auto.order-3
						+e.info(href="#") Разработка сайта – Artsman