mixin sForm()
	// start sForm
	+b.SECTION.sForm.section#sForm&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sForm
				
			+e.row.row
			+form-wrap
				+input("asdasd",'').is-valid
				+input("2f3rf",'').is-invalid
				+input("asd",'')
				+input("Комментарий (рекомендуем указать название компании, возможный чек или другую, которая поможет провести разговор более эффективно)",'textarea')
				+input('asd', 'select')
	// end sForm