
mixin modal() 
	//  start modals
	//- a(href="modal-call").link-modal-js modal-call 
	div(id="modal-call"  style="display: none" )
		+b.modal-win
			+form-wrap
				.text-center
					+e.title.form-data.h3 Получить консультацию
					p.after-headline Заполните форму и&nbsp;мы&nbsp;свяжемся с&nbsp;Вами для консультации и&nbsp;уточнения деталей
				+input("Ваше имя", 'text')(required)  
				+input("Ваш телефон", 'tel')(required)  
				+input("Ваш email", 'email')(required)
				+e.input-wrap.form-group
					+e.SELECT.input--default.form-select( name= 'select')
						option(value= 'Интересующий продукт') Интересующий продукт
						- for (var x = 1; x < 5; x++)
							option(value=` placeholder ${x}`)= `placeholder ${x}`
				+e.input-wrap.form-group
					+e.TEXTAREA.input.form-control(name='select' placeholder="Комментарий")
					+e.SPAN.underline
				+btnPrimary('отправить заявку', true)(data-src='modal-tnx' data-fancybox="modal")
				+policy()
	// #modal-call

	div(id="modal-tnx"  style="display: none" )
		+b.modal-win--tnx
			.text-center
				+e.title.form-data.h3 Спасибо за обращение!
				p.after-headline Мы&nbsp;сявжемся с&nbsp;Вами в&nbsp;ближайшее время для консультации и&nbsp;уточнения деталей
				+btnPrimary('отправить заявку')
	// #modal-tnx
	
	// end modals