
mixin modal(selected) 
	- let data = baseLang.sForm
	if data
		//  start modals
		//- a(href="modal-call").link-modal-js modal-call 
		div(id="modal-call"  style="display: none" )
			+b.modal-win
				+form-wrap
					.text-center
						+e.title.form-data.h3!= data.modalh3
						p.after-headline!= data.modalp
					+input(data.inputName,'text',data.inputName,'name')
					+input(data.inputTel, 'tel')(required)  
					+input(data.inputEmail, 'email')
					+e.input-wrap.form-group
						+e.SELECT.input--default.form-select( name= 'select')
							option( )= data.select
							each item in baseLang.sProducts.items
								option(value= item[1])= item[1]
					+e.input-wrap.form-group
						+e.TEXTAREA.input.form-control(name='comment' placeholder= data.textareaModal)
						+e.SPAN.underline
					+btnPrimary(data.btn, true)(data-src='modal-tnx' data-fancybox="modal")
					+policy()
		// #modal-call

		div(id="modal-tnx"  style="display: none" )
			+b.modal-win--tnx
				.text-center
					+e.title.form-data.h3!= data.modalThankh3
					p.after-headline!= data.modalThankp
					+b.defaultBtn.btn.modal-close-js
						!= data.modalClose
						+e.SPAN.icon
							+icon('arrow-right')
		// #modal-tnx
		
		div(id="modal-map"  style="display: none" )
			+b.modal-win--map
				script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=2066e304-cee0-4ed2-9cb2-5f6521d5f96c')
				+e.map
					#map
	// #modal-map
	// end modals