mixin sAdvantages(data)
	// start sAdvantages
	+b.SECTION.sAdvantages.section#sAdvantages&attributes(attributes)
		.container
			+b.section-title
				h2 Почему мы
			+e.slider.swiper.default-slider
				.swiper-wrapper
					mixin slide(i, c, h, t)
						+e.slide.swiper-slide
							+icon(`${i}`)(style = `--iconC: ${c}`)
							h5!= h
							p!= t
					+slide('flag', '#219653', `Traction`, `Мы создаем фонды, закрываем сделки и помогаем компаниям становиться великими со стабильно отличным результатом на протяжении многих лет.`)
					+slide('partnership', '#C3363A', `Репутация`, `Прозрачные и профессиональные отношения, не зависящие от обстоятельств, со всеми участниками рынка, независимо от обстоятельств, формируют наш главный капитал – безупречную репутацию и высокое доверие.`)
					+slide('bank', '#EEDA2A', `Общие интересы`, `Команда участвует собственными средствами в сделках и продуктах, подтверждая их качество и эффективность.`)
					+slide('trophy', '#734BE3', `Признание`, `Наш команда – лауреаты многих престижных премий и наград, мы вовлечены в работу ключевых институтов развития, комитетов и отраслевых организаций, активно развивая инвестиционный рынок и венчурную экосистему.`)
					+slide('diagram', '#1096C9', `Включенность`, `Мы непрерывно коммуницируем с регуляторами, институтами развития, предпринимателями, экспертами, ассоциациями, фондами и корпорациями, получая доступ к лучшим сделкам и не упуская окна возможностей.`)
			+e.arrow-wrap
				+arrow()
	// end sAdvantages