mixin sHowWeWork()
	- const data = lan.sHowWeWork
	if data
		// start sHowWeWork
		+b.SECTION.sHowWeWork.section#sHowWeWork&attributes(attributes)
			.container
				+section-title(data)
				+e.row.row
					each item in data.items
						+e.col.col-lg-6
							+e.item
								+e.img-wrap
									.img-wrap-center: +img(`img/${item[0]}`, 'bg')
								div
									+e.num
										+icon(item[2])
									.h6!=item[1]
									ul
										each it in item[3]
											li!= it
		// end sHowWeWork