mixin sAbout()
	- const data = lan.sAbout
	if data
		// start sAbout
		+b.SECTION.sAbout.section#sAbout&attributes(attributes)
			.container
				+section-title(data)
				if data.h2Second
					+e.headline.h2= data.h2Second
				+e.item-row.row
					each item in data.items
						.col-sm-6.col-lg-4(class=(data.items.length > 3 ? "col-xl-3" : 'col-xl-4'))
							+e.item(style=`--color: ${item[2]}`)
								+icon(item[0])
								p!= item[1]
		// end sAbout