mixin sAbout(data)
	// start sAbout
	+b.SECTION.sAbout.section#sAbout&attributes(attributes)
		.container
			+e.row.row
				.col
					h2 О компании
				.col-lg-6
					h4 Мы&nbsp;накопили многолетний опыт инвестиционно-банковских услуг, прямых и&nbsp;венчурных инвестиций, управления фондами и&nbsp;крупными активами.
					p Мы поддерживаем коммуникацию с широкой сетью предпринимателей, экспертов, инвестиционных фондов, корпораций и банков. Наши связи и опыт обеспечивают доступ к уникальным сделкам и финансовым решениям на лучших условиях.
	// end sAbout