extends ../layout/main.pug
block variables
	//- - let  mainPage= 'main-page' 
	//- - let  bg= 'main.jpg'
	-
		title= "Consulting Product ’From Startup to IPO’"
		let page = 'ipo'
		let lan = enIpo
		let baseLang = enBase
		let bg= 'consultation.jpg'