extends ../layout/main.pug
block variables
	//- - let  mainPage= 'main-page' 
	//- - let  bg= 'main.jpg'
	-
		title= "Консультационный продукт «От стартапа к IPO»"
		let page = 'ipo'
		mainPage = page
		let baseLang = ruBase
		let lan = ruIpo
		let bg= 'consultation.jpg'