mixin sInfo()
	- const data = lan.sInfo
	if data
		// start sInfo
		+b.SECTION.sInfo.section#sInfo&attributes(attributes)
			.container
				each item, index in data.items
					+e.row.row
						.col-lg-6(class=(index == 0 ? 'order-lg-2' : "")) 
							+img(item[0]).res-i
						.col-lg-6 
							+e.wrap
								h2= item[1]
								p!= item[2]
		// end sInfo