
	// start .header
.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	padding-top: 12px;
	padding-bottom: 12px;
	// height: 60px;
	@include media-breakpoint-up(lg) {
		padding-top: rem(40);
		padding-bottom: rem(20);
		height: auto;
	}
	@include media-breakpoint-down(lg) {
		border-bottom: 1px solid rgba($color: #fff, $alpha: .1);
	}
	&.active {
		background-color: #fff;
	}
	&--js{
		&.fixed-animate{
			transition: transform .4s;
			position: fixed;
		}
		&.fixed{
			transform: translateY(-100%);
			// padding-top: .875rem;
			// padding-top: 0;
			padding-top: 10px;
			padding-bottom: 10px;
			background-color: #fff;
			.top-nav {
				.logo {
					p {
						color: $body-color;
					}
				}
				.changeLang {
					&__lang {
						color: $body-color;
					}
				}
				.menu-item {
					a {
						color: $body-color;
					}
				}
				.toggle-menu-mobile {
					--color: #{$body-color};
				}
			}
		}
		&.fixed-show{
			transform: translateY(0);
			
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

} // end.header