
mixin mnu()
	nav
		ul.menu(itemscope itemtype="http://schema.org/SiteNavigationElement")

			- let path = ""

			if (lan.page != "ruMain" && lan.page != "enMain"  && baseLang.lang == "ru")
				- path = "/"
			else
				- path = "eng"
			each link, index in baseLang.nav
				if( index == baseLang.nav.length - 1)
					- path = ""

				li.menu-item(itemprop="item" ): a(href= (path + link.url) itemprop="url")= link.name
				//- if link.subnav
				//- 	li.menu-item.menu-item-has-children
				//- 		a(href="#" itemprop="url") О нас
				//- 		ul.sub-menu
				//- 			each sublink in link.subnav
				//- 				li.menu-item(itemprop="item" ): a(href= sublink.url itemprop="url")= sublink.name

//- menu